aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio
argcomplete==3.6.3
asttokens==3.0.1
attrs
blinker==1.9.0
brotlicffi
certifi
cffi
charset-normalizer
click
colorama
comm==0.2.3
ConfigArgParse==1.7.1
contourpy==1.3.3
cycler==0.12.1
dash==4.0.0
datasets
decorator==4.4.2
dill
e3nn==0.6.0
einops==0.8.2
exceptiongroup
executing==2.2.1
fastapi==0.135.1
fastjsonschema==2.21.2
filelock
Flask==3.1.3
fonttools==4.61.1
frozenlist
fsspec
gmpy2
h11
h2
hf-xet
hpack
httpcore
httpx
huggingface_hub
hyperframe
idna
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.1
ipython==9.10.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
itsdangerous==2.2.0
jedi==0.19.2
Jinja2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
kiwisolver==1.4.9
lz4==4.4.5
markdown-it-py
MarkupSafe
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl
mkl-service==2.5.2
mkl_fft
mkl_random
mpmath
multidict
multiprocess
narwhals==2.17.0
natsort==8.4.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx
numexpr==2.14.1
numpy==1.26.4
omegaconf==2.3.0
opencv-python==4.13.0.92
opt-einsum-fx==0.1.4
opt_einsum==3.4.0
packaging
pandas
parso==0.8.6
pillow
pillow_heif==1.3.0
platformdirs==4.9.4
plotly==6.6.0
plyfile==1.1.3
proglog==0.1.12
prompt_toolkit==3.0.52
propcache
pure_eval==0.2.3
pyarrow
pycolmap==3.13.0
pycparser
pydantic==2.12.5
pydantic_core==2.41.5
Pygments
pyparsing==3.3.2
PySocks
python-dateutil
python-dotenv==1.2.2
PyYAML
referencing==0.37.0
regex
requests
retrying==1.4.2
rich
rosbags==0.11.0
rpds-py==0.30.0
ruamel.yaml==0.19.1
safetensors
scipy==1.17.1
seaborn==0.13.2
shellingham
six
sniffio
stack-data==0.6.3
starlette==0.52.1
sympy
timm
tokenizers
torch==2.2.0
torchvision==0.17.0
tqdm
traitlets==5.14.3
transformers
typer==0.24.0
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions
tzdata
urllib3
uvicorn==0.41.0
wcwidth==0.6.0
Werkzeug==3.1.6
widgetsnbextension==4.0.15
win_inet_pton
xxhash
yarl
zipp==3.23.0
zstandard==0.25.0
